.row-header{
	margin: 0px auto;
	padding: 0px auto;
}

.row-content{
	margin: 0px auto;
	padding: 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer{
	background-color: #b5b5b5;
	margin: 0px auto;
	padding: 20px 0px;
}

.jumbotron{
	padding: 70px 30px;
	margin: 0px auto;
	background-color: #009999;
	color: white;
}

.address{
	font-size: 80%;
	margin: 0px;
	color: #d02c2c;
}

body{
	padding: 50px 0px 0px 0px;
	z-index: 0;
}

.navbar-inverse{
	background-color: black;
}

.tab-content{
	border: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #ddd;
	padding: 10px;
}

.carousel {
	background-color: black;
}

.carousel-item {
	height: 300px;
}

.carousel-item img{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 300px;
}

#carousel-button{
	right: 0px;
	position: absolute;
	bottom: 0px;
}